asgiref==3.8.1
backports.zoneinfo==0.2.1
black==24.4.2
click==8.1.7
Django==4.2.13
django-appconf==1.0.6
django-user-accounts==3.3.2
djangorestframework==3.15.1
flake8==7.0.0
isort==5.13.2
mccabe==0.7.0
mypy-extensions==1.0.0
packaging==24.0
pathspec==0.12.1
platformdirs==4.2.1
psycopg2==2.9.9
pycodestyle==2.11.1
pyflakes==3.2.0
pytz==2024.1
sqlparse==0.5.0
tomli==2.0.1
typing_extensions==4.11.0
